.wrapper {
  width: 100%;
  max-width: 1094px;
  padding: 0 20px;
  margin: 0 auto;
}

.navLinks {
  margin-bottom: 48px;

  a {
    text-decoration: none;
    color: #91A0B6;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }

  img {
    margin: 0 17px 0 17px;
  }
}
