.searchContainer {
  position: relative;
  background-color: rgba(4, 191, 148, 0.16);
  padding: 56px;
  border-radius: 16px;

  .title {
    width: fit-content;
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    color: #04BF94;
    padding-bottom: 8px;
    @media screen and (max-width: 700px) {
      font-size: 24px;
      line-height: 36px;
    }
  }

  .temperature {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    @media screen and (max-width: 500px) {
      display: none;
    }
  }

  .text {
    display: none;
    @media screen and (max-width: 500px) {
      display: inline-block;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
    }
  }

  .backgroundImg {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 97%;
    @media screen and (max-width: 950px) {
      display: none;
    }
  }
}

input[type='text'] {
  width: 51.3%;
  margin-top: 16px;
  border: none;
  font-size: 16px;
  background-image: url('../../../assets/main/search.svg');
  background-position: 96% 15px;
  background-repeat: no-repeat;
  padding: 16px;
  border-radius: 16px;
  outline: none;

  &::placeholder {
    color: #91A0B6
  }

  @media screen and (max-width: 950px) {
    width: 100%;
  }
}
