.container {
  position: relative;
  width: 100%;
  margin-bottom: 56px;
  padding: 24px;
  background: linear-gradient(90deg, #CFEDE6 7.49%, rgba(140, 222, 203, 0.832667) 100%);
  border-radius: 12px;

  .title {
    padding-top: 27px;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #04BF94;
  }

  .text {
    padding-top: 8px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
  }

  .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    padding: 8px 32px;
    background: #04BF94;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .promoImage {
    position: absolute;
    top: -3%;
    right: -2%;
  }
}
